<%= form_for setup_whiskey(@whiskey) do |f| %>
  <% if @whiskey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whiskey.errors.count, "error") %> prohibited this whiskey from being saved:</h2>

      <ul>
      <% @whiskey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :distillery do |dist_form| %>
  <div class="field">
    <%= dist_form.label :name, :Distillery %><br />
    <%= dist_form.text_field :name %>
  </div>
  <% end %>

  <%= f.fields_for :category do |cat_form| %>
  <div class="field">
    <%= cat_form.label :name, :Category %><br />
    <%= cat_form.text_field :name %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
