<div class="whiskey-div-main">
<p>
<span class="whiskey-name"><b><%= link_to whiskey.name, whiskey %></b></span><br/>
<span class="whiskey-distillery">Distillery: 
<% if whiskey.distillery != nil %>
<%= link_to whiskey.distillery.name, whiskey.distillery %>
<% else %>
<%= :Unknown %>
<% end %>
</span><br/>
<span class="whiskey-distillery">Category: 
<% if whiskey.category != nil %>
<%= link_to whiskey.category.name, whiskey.category %>
<% else %>
<%= :Unknown %>
<% end %>
</span>
</p>
<p><%= whiskey.description %></p>

</div>
